


<div class="justify-content-center mt" >
    <div class="addButton">
        <button mat-fab color="primary" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="justify-content-center" >
        <div class="lane-list" cdkDropList cdkDropListOrientation="horizontal"
         (cdkDropListDropped)="drop($event)">
            <div class="list-box" *ngFor="let lane of lanes;let i=index; " cdkDrag>
                <!-- <div
                            cdkDropList
                            id="xlist{{i}}" [cdkDropListConnectedTo]="['xlist1','xlist0']"     
                            [cdkDropListData]="kanbas"
                            (cdkDropListDropped)="drop($event)"> -->
                    <app-lane [lane]="lane" [index]="i" (removeNote)="removeNote($event)" (saveLane)="saveLane($event)" (saveNote)="saveNote($event)" [kanbanId]="kanbanId" [listId]="kanbasListId"></app-lane>
                <!-- </div> -->
            </div>
            </div>
    </div>
</div>




  
  