


<div class="mt" >
    <div class="addButton">
        <button mat-fab color="primary" (click)="addSwimlane()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="justify-content-center" style="margin-bottom: 1rem;" >
        <div class="lane-list" cdkDropList cdkDropListOrientation="horizontal"
         (cdkDropListDropped)="dropCard($event)">
            <div class="list-box" *ngFor="let lane of lanes;let i=index; " cdkDrag>
               
                    <app-lane (emitBlockNote)="blockNote($event)" [lane]="lane" [isEditorOwner]="canEdit()" [index]="i" (removeNote)="removeNote($event)" (emitSaveLane)="saveLane($event)" (emitAddNote)="addNote($event)" (emitEditXNote)="editNote($event)"  [kanbanId]="kanbanId" [listId]="kanbasListId"></app-lane>
                
            </div>
        </div>
    </div>

    <div *ngIf="permission?.rol=='Owner'">
        <div class="justify-content-center">
            <div (click)="changePermission(itemUserKanbanPermission)" class="user ml" [matTooltip]="itemUserKanbanPermission.permission.rol" [matTooltipPosition]="'above'" *ngFor="let itemUserKanbanPermission of userKanbanPermissions">
                {{itemUserKanbanPermission.users.email |  slice:0:3 }}
           </div>
        </div>
    </div>
</div>





  
  