<mat-card class="mt-1" cdkDrag>     
    <mat-card-header style="display: block;" > 
        
        <div class="space-between">
            <div class="flet-start">  
                <!-- <div class="title">{{item.content}}</div>  -->
            </div>
            
            <div>
                <button mat-icon-button (click)="edit()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                </button> 
                <button mat-icon-button (click)="remove()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
                </button>
            </div>
        </div>

        <div class="noteContent">
            <p *ngIf="item.content != null || item.content !=''" style="text-align: justify;">{{item.content}}</p>
            <p *ngIf="item.content== null || item.content ==''" style="text-align: justify;">Inserte el contenido de la nota</p>
        </div>
        
    </mat-card-header>
    
     <mat-divider></mat-divider>
    
    <mat-card-content class="pad">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        
        

        <div class ="file upload">
            <div class="space-between"> 
                <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.value=''; fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <div *ngIf="item.attachment?.length==0 || item.attachment==null"  class="title">Añada sus ficheros adjuntos</div>
                <div *ngIf="item.attachment?.length>0" class="title">Ficheros adjuntos</div>
            </div>
           

            <div class="progress">

                <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">
              
                </mat-progress-bar>
              
                <mat-icon class="cancel-upload" (click)="cancelUpload()" 
                          *ngIf="uploadProgress">delete_forever</mat-icon>
              
              </div>

             <div *ngIf="item.attachment!=null">
                <div *ngFor="let att of item.attachment" class="cont-att" >
                    
                    <div class="space-between att"  *ngIf="att.name != null">
                         <div>{{att.name}}</div>
                         
                         <div class="flet-start">
                            <button mat-icon-button color="warn" (click)="attachmentDelete(att)">
                                <mat-icon>delete</mat-icon>            
                            </button>

                            <button mat-icon-button color="disabled" (click)="viewFile(att)">
                                <mat-icon>visibility</mat-icon>            
                            </button>
                          
                           

                            <button mat-icon-button color="disabled" (click)="downloadFile(att)">
                                <mat-icon>download</mat-icon>            
                            </button>
                        </div>                        
                    </div>
                </div>
             </div>
        </div>
       
    </mat-card-content>

</mat-card>
