  <!-- <button mat-raised-button color="accent" (click) = "newKanba()"><mat-icon>add</mat-icon></button> -->


    <div class="justify-content-center mt">
      <button mat-fab  (click) = "newKanba()" color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
      </button>

      <div class="justify-content-center" *ngIf="listKanbas.length>0">      

        <mat-card class="kamba-card" *ngFor="let item of listKanbas; let i = index;">
            <mat-card-header (click)="go(item)" >    
              <mat-card-title>{{item.title}}</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
           
            <mat-card-content (click)="go(item)">
              <p>
               {{item.description}}
              </p>
              <div class="flet-start">
                <div class="user ml" *ngFor="let user of usersKanban[i]">
                      {{user.email |  slice:0:3 }}
                 </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="warn" (click)="remove(item)"><mat-icon>delete</mat-icon></button>
              <button mat-raised-button color="primary" (click)="edit(item)"><mat-icon>edit</mat-icon></button>
              <button mat-raised-button color="accent"><mat-icon>share</mat-icon></button>
            </mat-card-actions>
          </mat-card>

          
    </div>

    </div>


    

