<div class="container">
    
    <h1 *ngIf="note.id == null">Crear item a {{data.lane.title}} </h1>
    <h1 *ngIf="note.id != null">Modificar item {{data.lane.title}}</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="note.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contenido</mat-label>
            <textarea type="text" matInput placeholder="contenido" [(ngModel)]="note.content" name="content" required></textarea>
            <mat-error>El contenido no puede estar vacío</mat-error>
        </mat-form-field>
        
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary"  (click)="onSave()">Guardar</button>
    </div>
</div>
