 
<div class="space-between">
 <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>grid_on</mat-icon>
 </button>

 {{select.title}} 

</div>

 <mat-menu #menu="matMenu">
       <button mat-menu-item *ngFor="let item of listKanbas" (click)="selectKanba(item)" style="display: flex; align-items: center;">
         <mat-icon *ngIf="item.select">check</mat-icon>
         <mat-icon *ngIf="item.select==false">remove</mat-icon>
         <span>{{item.title}}</span>
       </button>
</mat-menu>
