<!--  [ngStyle]="{background: lane.color}" -->

<div
cdkDropList
            id="list{{index}}" [cdkDropListConnectedTo]="listId"     
            [cdkDropListData]="lane.tasks"
            (cdkDropListDropped)="drop($event,lane.id)">
<mat-card class="lanes">
    <mat-card-header>
        <div class="space-between w-100">
            <mat-card-title>{{lane.title}}</mat-card-title>
            <div>
                <button mat-icon-button (click)="edit()"> <mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="deleteLane()"> <mat-icon>close</mat-icon></button>
            </div>
        </div>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <button (click)="add()" mat-stroked-button   class="addTaskButton"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
        </button>
       
    </mat-card-content>

    <app-task  [lane]="lane"  [index]="i" [indexY]="index" *ngFor="let taskLane of lane.tasks;let i=index;" [task]="taskLane"></app-task>
    
  </mat-card>
</div>