<!--  [ngStyle]="{background: kanba.color}" -->
<div
    cdkDropList
    id="list{{index}}" [cdkDropListConnectedTo]="listId"     
    [cdkDropListData]="lane.notes"
    (cdkDropListDropped)="dropNote($event,lane.id)"
    class = "task-list"
>
<mat-card class="kanbas">
    <mat-card-header class="w-100">
        <div class="space-between w-100">
            <mat-card-title class="laneTitle">{{lane.title}}</mat-card-title>
            <div>
                <button mat-icon-button *ngIf="isEditorOwner" (click)="editLane()"> <mat-icon>edit</mat-icon></button>
                <button mat-icon-button *ngIf="isEditorOwner" (click)="deleteLane()"> <mat-icon>close</mat-icon></button>
            </div>
        </div>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <button *ngIf="isEditorOwner" (click)="addNote()" mat-stroked-button   class="addTaskButton"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
        </button>
       
    </mat-card-content>
        <div class="min-width">
            <app-note [swimlane]="lane" (emitBlockNote)="blockNote($event)" [isEditorOwner]="isEditorOwner" (emitRemoveNote)="deleteNote($event)" (emitEditNote)="editNote($event)" [index]="i" [indexY]="index" *ngFor="let note of lane.notes;let i=index;" [note]="note"></app-note>
        </div>
  </mat-card>
</div>