<div class="login-form">
    <h1 class="title">Canbemini</h1>
    <div class="card-login">
        <mat-card>
            <h1 style="margin-left:50px;">Login</h1>
            <!-- pattern="[a-zA-Z0-9_.-]+@capgemini.com" -->
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label for="email">Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Email" name="email" required>
                    <mat-icon matPrefix>mail</mat-icon>
                    <mat-error>El correo no puede estar vacío</mat-error>
                    
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="password">Passsword</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password" name="password" required [type]="hide ? 'password' : 'text'">
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>La contraseña no puede estar vacía</mat-error>                    
                </mat-form-field>  

                <mat-checkbox style="margin-left: 50px;">
                    Remember Me
                </mat-checkbox>

                <div class="login-button">
                    <button mat-flat-button color="primary" type = "submit">Login</button>
                </div>
                
                <div class="justify-content-center mt-1">
                    <div id="buttonDiv">
                    </div>
                </div>
            </form>
            
        </mat-card>
    </div>
</div>


