
<div>
    <button mat-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="kanba-header">
    <p class="kanba-title">
        Angular Kanva Development
    </p>
    <div class="buttons">
        <button mat-raised-button color="accent"><mat-icon>share</mat-icon></button>
    </div>  
</div>
<div class="kanba-main">
        <div class="addButton">
            <button mat-fab color="dark" (click)="add()" aria-label="Example icon button with a delete icon">
            <mat-icon>add</mat-icon>
        </button>
        </div>
        <div class="kanba">
        <div *ngFor="let item of kanbas;let i=index;">
            <!-- <div
                        cdkDropList
                        id="xlist{{i}}" [cdkDropListConnectedTo]="['xlist1','xlist0']"     
                        [cdkDropListData]="kanbas"
                        (cdkDropListDropped)="drop($event)"> -->
                
                
                <app-lane   [kanba]="item" [index]="i" [listId]="kanbasListId"></app-lane>
            <!-- </div> -->
        </div>
        </div>
    </div>




  
  