    .kanba {
        justify-content: center;
        display: inline-flex;
        flex-direction: row;
        background-color: green;
        margin-top:1rem;
    }

.addButton {
    display: inline-block;
}