   .kanba-main {
        overflow: scroll;
        display: flex;
        flex-direction: row;
        background-color: green;
 
       .kanba {
           margin-left: 10px;

       }
   }

   .addButton {
       z-index: 100;
       position: fixed;
       top: 20%;
       float: left;
       left: 16px;
       margin-right: 15%;
   }