<mat-toolbar *ngIf="isLoggedIn | async ">
<!-- <mat-toolbar> -->
    <mat-toolbar-row>
        <div class="header_container">
            <div class="header_title" routerLink="/kanbas">              
                <mat-icon>home</mat-icon>
            </div>

            <div class="header_separator"> | </div>


            <div class="header_menu">
                <app-kanba-select ></app-kanba-select>
            </div>

            
            <div class="header_login">
               <div class="space-between">  
                    <button mat-icon-button><mat-icon (click)="onLogout()">exit_to_app</mat-icon></button>                   
                    
                    <app-user-select [users]="users"></app-user-select>
                    
                    <button mat-icon-button color="accent"><mat-icon>share</mat-icon></button>                        
                    <div class="header_separator"> | </div>
                    <div style="margin-left:0.5rem;">ejemplo@email.com</div>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
