<mat-toolbar *ngIf="isLoggedIn | async ">
<!-- <mat-toolbar> -->
    <mat-toolbar-row>
        <div class="header_container">
            <div class="header_title" routerLink="/kanbans">              
                <mat-icon>home</mat-icon>
            </div>

            <div class="header_separator" *ngIf="kanban!=null"> | </div>

            <div class="header_menu">
                <div *ngIf="kanban!=null"  class="ml">{{kanban.title}}</div>              
            </div>

            
            <div class="header_login">
               <div class="space-between">  
             
                    <div class="image-cropper" *ngIf="userJwt!=null">
                        <img  [src]="userJwt.picture" class="rounded" />
                    </div>
                    <div style="margin-left:0.5rem;" *ngIf="userJwt!=null">{{userJwt.name }}</div>
                    <div style="margin-left:0.5rem;" *ngIf="user!=null && userJwt==null">{{user.email}}</div>

                    <button mat-icon-button><mat-icon (click)="onLogout()">exit_to_app</mat-icon></button>     
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
