<mat-toolbar *ngIf="isLoggedIn | async ">
<!-- <mat-toolbar> -->
    <mat-toolbar-row>
        <div class="header_container">
            <div class="header_title" routerLink="/kanbans">              
                <mat-icon>home</mat-icon>
            </div>

            <!-- <div class="header_separator"> | </div> -->


            <div class="header_menu">
                <!-- <app-kanba-select ></app-kanba-select> -->
            </div>

            
            <div class="header_login">
               <div class="space-between">  
             
                    <div class="image-cropper" *ngIf="user!=null">
                        <img [src]="user.picture" class="rounded" />
                    </div>
                    <div style="margin-left:0.5rem;" *ngIf="user!=null">{{user.name }}</div>
                    <div style="margin-left:0.5rem;" *ngIf="user==null">Nombre completo</div>

                    <button mat-icon-button><mat-icon (click)="onLogout()">exit_to_app</mat-icon></button>     
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
