<div class="container">
    <h1>Crear Kanbas</h1>
    <form>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input type="text" matInput placeholder="Kanbas Title..." [(ngModel)]="kanba.title" name="title" required>
            <mat-error>El título no puede estar vacío</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Kanbas description..." [(ngModel)]="kanba.description" name="description" required></textarea>
            <mat-error>La descripcion no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onCancel()" type="buttonCancel">Cancelar</button>
        <button mat-flat-button color="primary" (click)="onSave()" type="buttonSave">Guardar</button>
    </div>
</div>
